<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>WOD Submit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Today's WOD</h3>
    <!-- <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" (ionCancel)="onCancel($event)" (animated)="true" (autocomplete)="on"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{item.title}}
      </ion-item>
    </ion-list> -->

      <form #submitForm="ngForm" novalidate>
        <ion-item  class="submit-form">                
          <ion-label floating>Date</ion-label>
          <ion-datetime displayFormat="YYYY MM DD" name = "date" [(ngModel)]="submit.date" #date="ngModel"></ion-datetime>
        </ion-item>

        <ion-item  class="submit-form">
          <ion-label>Record Type
          <ion-segment [(ngModel)]="submit.kind" name = "kind" color="secondary" #kind="ngModel">
            <ion-segment-button value="time">
              TIME
            </ion-segment-button> 
            <ion-segment-button value="count">
              COUNT
            </ion-segment-button> 
            <ion-segment-button value="round">
              ROUND
            </ion-segment-button> 
          </ion-segment>
          </ion-label>
        </ion-item>
        
        <ion-item  class="submit-form">                
          <ion-label floating>WOD</ion-label>
            <ion-select [(ngModel)]="submit.wod" name="wod" #wod="ngModel" multiple = "true">
              <ion-option *ngFor="let wod of wods | async" [value]="wod.title">{{wod.title}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item  class="submit-form">                
          <ion-label floating>Record</ion-label>
          <ion-input [(ngModel)]="submit.record" name="record"  required  #record="ngModel"></ion-input>
        </ion-item>
        <ion-item  class="submit-form">                
          <ion-label floating>Memo</ion-label>
          <ion-input [(ngModel)]="submit.memo" name="memo"   #memo="ngModel"></ion-input>
        </ion-item>
      </form>
    <ion-row>
        <ion-col text-center>
            <button ion-button type="submit" (click)="doSubmit(submitForm)" style="width:75%; position: relative; text-align: center;" color="primary">Submit</button>
        </ion-col>
    </ion-row>
    <div id ="more">
      <fab-toolbar ion-fixed [enableBackdropDismiss]="enableBackdropDismiss" [color]="color" [icon]="icon" [position]="position"  [buttons]="buttons"></fab-toolbar>
    </div>
</ion-content>
