<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>WOD Submit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Today's WOD</h3>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" (ionCancel)="onCancel($event)" (animated)="true" (autocomplete)="on"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{item.title}}
      </ion-item>
    </ion-list>

    <ion-list>
      <form #submitForm="ngForm" novalidate>
        <ion-item  class="submit-form">                
          <ion-label floating>Date</ion-label>
          <ion-datetime displayFormat="YYYY MM DD" name = "date" [(ngModel)]="submit.date" #date="ngModel"></ion-datetime>
        </ion-item>

        <!-- 필터서치바 부분 -->
        <ion-item  class="submit-form">                
          <ion-label floating>Box</ion-label>
          <ion-input [(ngModel)]="submit.box" name="box"  required  #box="ngModel" ></ion-input>
          <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" (ionCancel)="onCancel($event)"></ion-searchbar>
          <div *ngIf="searching" class="spinner-container">
              <ion-spinner></ion-spinner>
          </div>
          <ion-list>
            <ion-item *ngFor="let item of items">
              {{item.title}}
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-item  class="submit-form">                
          <ion-label floating>WOD</ion-label>
          <ion-input [(ngModel)]="submit.wod" name="wod"  required  #wod="ngModel"></ion-input>
        </ion-item>
        <ion-item  class="submit-form">                
          <ion-label floating>Record</ion-label>
          <ion-input [(ngModel)]="submit.record" name="record"  required  #record="ngModel"></ion-input>
        </ion-item>
        <ion-item  class="submit-form">                
          <ion-label floating>Memo</ion-label>
          <ion-input [(ngModel)]="submit.memo" name="memo"   #memo="ngModel"></ion-input>
        </ion-item>
      </form>
    </ion-list>
    <br>
    <ion-row>
        <ion-col text-center>
            <button ion-button type="submit" (click)="doSubmit(submitForm)" style="width:75%; position: relative; text-align: center;" color="primary">Submit</button>
        </ion-col>
    </ion-row>
    <div id ="more">
      <fab-toolbar ion-fixed [enableBackdropDismiss]="enableBackdropDismiss" [color]="color" [icon]="icon" [position]="position"  [buttons]="buttons"></fab-toolbar>
    </div>
</ion-content>
