page-submit {
    ion-list {
        margin-top: 70px;
    }
    more {
        position: absolute;
        bottom: 0px;
    }
    #measeringMethod {
        .item-inner {
            border-bottom: none;
        }
        ion-label {
            color: #999;
        }
    }
    
}
