page-submit {
    ion-list {
        margin-top: 70px;
    }
    more {
        position: absolute;
        bottom: 0px;
    }
    #measeringMethod {
        .item-inner {
            border-bottom: none;
            padding-right: 0;
        }
        ion-label {
            color: #999;
            margin-right: 0;
        }
    }
    
}
